<a href="https://colab.research.google.com/github/ChristianPacurib/OOP-58002/blob/main/Operations_and_Expressions_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [3]:
print(10>9)
print(10<9)
print(10==9)

True
False
False

In [4]:
a = 10
b = 9
print(a>b)
print(a<b)
print(a==b)
print(b==b)

True
False
False
True

Bool() Function

In [11]:
print(bool(1))
print(bool(0))
print(bool("your mom"))
print(bool(None))
print(bool("Null"))

True
False
True
False
True

Funtions can return a Boolean

In [23]:
def myFuntion():
  return True

print (myFuntion())

True

In [22]:
def myFuntion():
  return True
if myFuntion():
  print("Yes!")
else:
  print("No!")

Yes!

In [24]:
a = 6
b = 7
print(a==b)
print(a!=b)

False
True

Python Operators

In [32]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%3)
print(10//5)
print(10**5)

15
5
50
2.0
1
2
100000

In [41]:
a = 60
b = 13
a<<1
print(a<<1)
print(a>>1)
print(b<<1)
print(b>>1)

120
30
26
6

Python Assignment Operators

In [44]:
x = 1
x+=3 #same as x=x+3
print (x)
x = 1
x-=3 #same as x=x-3
print (x)
x = 1
x*=3 #same as x=x*3
print (x)
x = 1
x/=3 #same as x=x/3
print (x)

4
-2
3
0.3333333333333333

Python Logical Operations

In [57]:
x = True
y = False

In [53]:
print(x and y)
print(x or y)
print(not (x or y) )

True
True
False

Python Identity Operators

In [60]:
print(x is y) 
print(x is not y)

False
True

In [66]:
x = int(input("1st Number "))
p = int(input("2nd Number "))

print(x+p)
print(x-p)
print(x*p)
print(x/p)

1st Number 80085
2nd Number 69420
149505
10665
5559500700
1.1536300777873811

In [67]:
def calculator():
    while True:
        print("\nEnter an operation (+, -, *, /, or q to quit): ")
        user_input = input()

        if user_input == "q":
            break
        elif user_input in ["+", "-", "*", "/"]:
            num1 = float(input("Enter a number: "))
            num2 = float(input("Enter another number: "))
            if user_input == "+":
                result = num1 + num2
            elif user_input == "-":
                result = num1 - num2
            elif user_input == "*":
                result = num1 * num2
            elif user_input == "/":
                result = num1 / num2
            print("Result:", result)
        else:
            print("Unknown input")

calculator()

Enter an operation (+, -, *, /, or q to quit):
+
Enter a number: 1000
Enter another number: 999
Result: 1999.0

Enter an operation (+, -, *, /, or q to quit):
q

Application 1: Create an Arithmetic Calculator (MDAS)