<a href="https://colab.research.google.com/github/ChristianPacurib/OOP-58002/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [2]:
if 5>2:
  print("Five is Greater than Two")

Five is Greater than Two

Python Comment

In [4]:
#This is a comment
print("Hello, World!")

Hello, World!

Naming Variable

In [13]:
#Single variable with single value 
x=1
y=2
print(x)
print(y)

#Multiple variables with a single value
a = b = c = "a,b,c's value / Pacurib Christian"
print(a)
print(b)
print(c)

#Multiple variable with multiple values
e, f, g=1, 2, 3,
print(e)
print(f)
print(g)

1
2
a,b,c's value / Pacurib Christian
a,b,c's value / Pacurib Christian
a,b,c's value / Pacurib Christian
1
2
3

Single or Double

In [14]:
v = "sally"
u = "sally"
print(u)
print(v)

sally
sally

Casting

In [16]:
p = float(5)
p

5.0

Type() Function

In [18]:
f = "Ana"
g = 4.56
print(type(f))
print(type(g))

<class 'str'>
<class 'float'>

Concatelation using + symbol

In [25]:
k = "Enjoying"
j = "Python Programming is "
print(j + k )

Python Programming is Enjoying